In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from apyori import apriori

In [12]:
!which python3

/c/Users/nineve/AppData/Local/Microsoft/WindowsApps/python3

In [2]:
data = pd.read_csv('order_data.csv', sep=" ", header=None)
data.head()

,0,1,2,3,4,5,6,7,8
0,toothpaste,brush,milk,cereals,honey,bread,butter,cheese,yogurt
1,milk,cereals,honey,bread,cheese,razor,gel,shampoo,NaN
2,milk,cereals,honey,cheese,soap,shampoo,NaN,NaN,NaN
3,honey,bread,butter,cheese,mouthwash,toothpaste,NaN,NaN,NaN
4,cereals,honey,bread,butter,gel,soap,NaN,NaN,NaN

In [3]:
data_list = []
for row in range(0, 20):
    data_list.append([str(data.values[row,column]) for column in range(0, 9)])

print(data_list)

algo = apriori(data_list, min_support=0.25, min_confidence=0.2, min_lift=2, min_length=2)
results = list(algo)

[['toothpaste', 'brush', 'milk', 'cereals', 'honey', 'bread', 'butter', 'cheese', 'yogurt'], ['milk', 'cereals', 'honey', 'bread', 'cheese', 'razor', 'gel', 'shampoo', 'nan'], ['milk', 'cereals', 'honey', 'cheese', 'soap', 'shampoo', 'nan', 'nan', 'nan'], ['honey', 'bread', 'butter', 'cheese', 'mouthwash', 'toothpaste', 'nan', 'nan', 'nan'], ['cereals', 'honey', 'bread', 'butter', 'gel', 'soap', 'nan', 'nan', 'nan'], ['cheesse', 'yogurt', 'milk', 'cereals', 'honey', 'shampoo', 'gel', 'nan', 'nan'], ['honey', 'bread', 'cheese', 'razor', 'butter', 'yogurt', 'nan', 'nan', 'nan'], ['honey', 'bread', 'cheese', 'butter', 'milk', 'nan', 'nan', 'nan', 'nan'], ['cereals', 'butter', 'cookies', 'chips', 'nan', 'nan', 'nan', 'nan', 'nan'], ['cerals', 'cheese', 'yogurt', 'cookies', 'chips', 'nan', 'nan', 'nan', 'nan'], ['toothpaste', 'brush', 'gel', 'shampoo', 'soap', 'cookies', 'chips', 'nan', 'nan'], ['toothpaste', 'brush', 'gel', 'razor', 'mouthwash', 'milk', 'cookies', 'nan', 'nan'], ['razor', 'shampoo', 'gel', 'soap', 'bread', 'butter', 'nan', 'nan', 'nan'], ['brush', 'shampoo', 'gel', 'toothpaste', 'mouthwash', 'bread', 'cheese', 'nan', 'nan'], ['mouthwash', 'toothpaste', 'soap', 'shampoo', 'cheese', 'yogurt', 'nan', 'nan', 'nan'], ['razor', 'mouthwash', 'soap', 'butter', 'bread', 'cheese', 'nan', 'nan', 'nan'], ['shampoo', 'soap', 'gel', 'milk', 'honey', 'cereals', 'nan', 'nan', 'nan'], ['toothpaste', 'razor', 'gel', 'brush', 'mouthwash', 'shampoo', 'nan', 'nan', 'nan'], ['gel', 'razor', 'shampoo', 'milk', 'cereals', 'bread', 'cookies', 'nan', 'nan'], ['mouthwash', 'toothpaste', 'milk', 'bread', 'cookies', 'nan', 'nan', 'nan', 'nan']]

In [11]:
X = np.asarray(data_list)
X.shape
print(list(algo))

[]

In [12]:
for i in range(0,3):
    print(f"Required Association No. {i+1} is: {results[i]}")
    print('-'*25)

Required Association No. 1 is: RelationRecord(items=frozenset({'brush', 'toothpaste'}), support=0.25, ordered_statistics=[OrderedStatistic(items_base=frozenset({'brush'}), items_add=frozenset({'toothpaste'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'toothpaste'}), items_add=frozenset({'brush'}), confidence=0.625, lift=2.5)])
-------------------------
Required Association No. 2 is: RelationRecord(items=frozenset({'mouthwash', 'toothpaste'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mouthwash'}), items_add=frozenset({'toothpaste'}), confidence=0.8571428571428572, lift=2.142857142857143), OrderedStatistic(items_base=frozenset({'toothpaste'}), items_add=frozenset({'mouthwash'}), confidence=0.7499999999999999, lift=2.142857142857143)])
-------------------------
Required Association No. 3 is: RelationRecord(items=frozenset({'bread', 'butter', 'honey'}), support=0.25, ordered_statistics=[OrderedStatistic(items_base=frozenset({'butter'}), items_add=frozenset({'bread', 'honey'}), confidence=0.625, lift=2.0833333333333335), OrderedStatistic(items_base=frozenset({'bread', 'honey'}), items_add=frozenset({'butter'}), confidence=0.8333333333333334, lift=2.0833333333333335)])
-------------------------